.navigation-bar {
    background-color: black;
    display: flex;
    justify-content: space-between;
    padding: 15px;
}

h1 {
    margin-right: calc(100%/4);
}

.navigation-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: rgb(221, 8, 43);
}


.menu-items {
    display: flex;
    gap: 16px;
    /* Abstand zwischen den Menüpunkten */
}